* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #2E2E2E;
}

.calculator {
  /* from 95% */
  flex: 0 0 50%;
}

.screen {
  width: 100%;
  font-size: 5rem;
  padding: .5rem;
  background: rgb(34, 34, 34);
  color: #D1D1D1;
  font-weight: 100;
  /* put cursor to the right direction */
  text-align: right;
  cursor: text;
  outline: none;
  border-bottom: none;
}

.buttons {
  display: flex;
  flex-wrap: wrap;
  transition: all .5s linear;
}

button {
  flex: 0 0 25%;
  padding: 1rem 0;
  transition: all 1s ease;
  border: 1px solid #fff;
}

button:hover {
  background: #D1C21D;
}

.btn-yellow {
  background: #D2691E;
  color: #fff;
}

.btn-grey {
  background: #D1D1D1;
}

.btn,
.btn-equal,
.btn-clear {
  font-size: 2rem;
  outline: none;
}

.btn-equal {
  background: #857B13;
  color: #fff;
}

.btn-clear {
  background: #854213;
  color: #fff;
}

.empty {
  background: #D1D1D1;
  /* removes hover */
  pointer-events: none;
}